.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
}

.content {
    width: 500px;
    height: 500px;
    background-color: #fff;
    z-index: 2;
    color: black;
}

.overlay {
    background: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
}